html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
    background-color: black;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
#music{
    position: fixed;
    right: 3px;
    top: 69px;
    z-index: 99;
    animation: music_run 2s infinite linear;
}
@keyframes music_run{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.swiper-container .container{
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-flex;
    display: flex !important;
    justify-content:center;
    align-items:center;
}
.swiper-container .container img{
    width: 100%;
}

.swiper-container .container .luck{
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
}
.container-alter{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top:0px;
    background:rgba(0,0,0,0.8);
  	z-index:999;
}
.container-alter .bg{
    width: 100%;
    height: 100%;
  	display: flex;
    display: -webkit-flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.container-alter .verse{
    width: 60%;
    position: relative;
    z-index: 9;
}
.container-alter .close{
    width: 2rem;
    height: 2rem;
    position: relative;
    margin-top: 10px;
    z-index: 9;
}
.prize-div{
    position: relative;
    display: -webkit-flex;
    display: flex !important;
    justify-content:center;
    align-items:center;
}
@media(max-width:760px){
	.swiper-container{
      display:flex;
  }
}